Wojciech Łaguna  
[wojtek@laguna.pm](mailto:wojtek@laguna.pm)

Mateusz Rogowski

<b style="font-size:24px;">Python w Data Science 1   
Podstawy Pythona 2<b/>

---
<img src="https://www.python.org/static/img/python-logo@2x.png" />

# Zbiór (Set), Krotka (Tuple)

## Zbiór (Set)

In [1]:
my_set = {1,3,4}
my_set

{1, 3, 4}

In [2]:
my_set = {1,1,1,1,1,1,1}
my_set

{1}

In [3]:
my_list =[1,2,5,6,3,3,3,4]

my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 6}

In [4]:
list(my_set)

[1, 2, 3, 4, 5, 6]

Set nie wspiera indexowania - nie można się odwołać do pojedyńczego elementu.

In [5]:
my_set[0]

TypeError: 'set' object is not subscriptable

Za to można iterować bo jego elementach (przy czym nie możemy założyć konkretnej kolejności elementów)

In [6]:
for element in my_set:
    print(element)

1
2
3
4
5
6

Różnica (difference)

In [7]:
{1,2,3} - {2, 5}

{1, 3}

In [8]:
{2, 5} - {1,2,3}

{5}

In [9]:
my_set = {1, 2, 3, 4}
second_set = {1, 3, 5}

my_set.difference(second_set)

{2, 4}

Część wspólna (intersection)

In [10]:
my_set = {1, 2, 3, 4}

my_set.intersection({1,2,5})

{1, 2}

Suma dwóch zbiorów

In [11]:
set.union({2,3,4}, {2,3,5})

{2, 3, 4, 5}

Zbiór często stosuje się do usunięcia powtórzeń z listy

In [12]:
my_list = [10,5,1,2,3,3,3,4]

my_list = list(set(my_list))
my_list

[1, 2, 3, 4, 5, 10]

In [13]:
my_string = "Zbiór często stosuje się do usunięcia powtórzeń z listy"
set(my_string)

{' ',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'i',
 'j',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w',
 'y',
 'z',
 'ó',
 'ę',
 'ń'}

## Krotka (tuple)
---
https://pl.wikibooks.org/wiki/Zanurkuj_w_Pythonie/Krotki

- Nieedytowalne (immutable)
- Szybsze niż listy
- Zwracanie wyników z funkcji

In [14]:
(1,2,3)

(1, 2, 3)

In [15]:
my_tuple = (1, 2)
my_tuple

(1, 2)

In [16]:
my_tuple[0]

1

In [17]:
my_tuple[1]

2

In [18]:
for element in my_tuple:
    print(element)

1
2

In [19]:
list(my_tuple)

[1, 2]

In [20]:
my_tuple

(1, 2)

In [21]:
b, c = my_tuple

In [22]:
b

1

In [23]:
c

2

In [24]:
my_tuple[0]=4

TypeError: 'tuple' object does not support item assignment

In [57]:
l = list(my_tuple)

[1, 2]

Iterowanie po elementach w słowniku i wyświetlanie wyników.

In [25]:
d = {
    1: "jeden",
    2: "dwa"
}

In [26]:
d

{1: 'jeden', 2: 'dwa'}

In [27]:
d.items()

dict_items([(1, 'jeden'), (2, 'dwa')])

In [28]:
for kv in d.items():
    print(kv)
    print(kv[0], kv[1])

(1, 'jeden')
1 jeden
(2, 'dwa')
2 dwa

In [29]:
for key, value in d.items():
    print(key, value)

1 jeden
2 dwa

In [30]:
for kv in d.items():
    print(type(kv))
    break

<class 'tuple'>

## Ćwiczenia

In [31]:
a = [4, 1, 5, 3, 1, 4, 1]
b = [7, 1, 2, 4, 1, 2]

### Podaj unikalne wartości z listy *a*

In [32]:
set(a)

{1, 3, 4, 5}

### Podaj unikalne wartości z listy *b*

In [33]:
set(b)

{1, 2, 4, 7}

### Podaj wspólne wartości list *a* i *b*

In [34]:
set(a).intersection(set(b))

{1, 4}

### Podaj wartości którymi się różnią listy *a* i *b* (chodzi o unikalne wartości, które występują w jednej liście, ale nie w drugiej)

In [35]:
set(a).difference(set(b))

{3, 5}

In [36]:
set(b).difference(set(a))

{2, 7}

### Stwórz zmienną *c*, która zawiera listę z unikalnymi wartościami listy *a*

In [37]:
a = [4, 1, 5, 3, 1, 4, 1]

In [38]:
c = set(a)

# Wyjątki
---
https://docs.python.org/3/tutorial/errors.html

## Łapanie wyjątków

In [39]:
print(10 * (1/0))

print("Test")

ZeroDivisionError: division by zero

In [40]:
print 'Hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello world')? (<ipython-input-40-5b561bd9caa8>, line 1)

Składnia łapania wyjątku:
``` python 
try:
    doSomething()
except SomeException:
    print("Something went wrong")
```

In [46]:
try:
#     print(5 / aaaaa)
    print(5 / 0)
except ZeroDivisionError:
    print("Nie można dzielić przez 0")
    
print('pass')

Nie można dzielić przez 0
pass

In [42]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number: n
Oops!  That was no valid number.  Try again...
Please enter a number: n
Oops!  That was no valid number.  Try again...
Please enter a number: 3

**Niewłaściwe podejścia do obsługi błędu**

```python
try:
    doSomething()
```

**1**
```python
except:
    print("Something went wrong")
```

**2**  
```python
except BaseException:
```
  
**3**  
```python
except Exception:
```

### Łapanie wielu wyjątków

In [44]:
try:
#     5 / 0
    1/'a'
except (ZeroDivisionError, TypeError) as e:
    print("Exception:", e)

Exception: unsupported operand type(s) for /: 'int' and 'str'

In [45]:
try:
#     1/'a'
    1/0
except ZeroDivisionError as e:
    print("ZeroDivisionError Exception:", e)
except TypeError as e:
    print("TypeError exception:", e)

ZeroDivisionError Exception: division by zero

## Wywoływanie wyjątków

In [47]:
raise NameError('HiThere')

NameError: HiThere

In [ ]:
raise ValueError

Ponowne wywołanie pierwotnego błędu. Jest to przydatne, gdy nie chcemy "ukryć" błędu, ale musimy wykonać dodatkową akcję, na przykład zapisać w bazie danych informację o błędzie.

In [ ]:
try:
    raise NameError('HiThere')
except NameError:
    print('An exception flew by!')
    raise

## Ćwiczenia

### Popraw kod poniżej, tak żeby zamiast błędu wyświetlał się komunikat: "Nie można dzielić przez 0" - wykorzystaj *try...except*

In [59]:
licznik = 33
mianownik = 0

try:
    licznik / mianownik
except ZeroDivisionError as e:
    print("Error occured: ", e)

Error occured:  division by zero

# Funkcje

## Definiowanie funkcji

In [60]:
a = 10

In [61]:
def dodaj(val1, val2):
    
    return val1+val2

In [62]:
def odejmij(val1, val2):
    
    return val1-val2

In [63]:
dodaj(4, 5)

9

In [64]:
odejmij(4, 5)

-1

In [65]:
odejmij(val2=1, val1=2)

1

W Python'ie funkcje mogą zwracać wiele wartości

In [66]:
def podziel(val1, val2):
    """Funkcja do dzielenia, która zwraca część całkowitą i resztę w postaci dwóch wartości
    :param int val1: Wartość 1 - Dzielna
    :param int val2: Wartość 2 - Dzielnik
    :return: część całkowita
    :return: reszta z dzielenia
    """
    return val1//val2, val1%val2

In [67]:
podziel(10,3)

(3, 1)

In [68]:
czesc_calkowita, reszta = podziel(17, 3)
print("czesc_calkowita: ", czesc_calkowita)
print("reszta: ", reszta)

czesc_calkowita:  5
reszta:  2

In [69]:
podziel(3, 2)

(1, 1)

In [70]:
podziel(10)

TypeError: podziel() missing 1 required positional argument: 'val2'

### Wartości domyślne

In [71]:
def poteguj(podstawa, wykladnik=2):
    return podstawa**wykladnik

In [72]:
poteguj(10)

100

In [73]:
poteguj(10, 3)

1000

### Deklaracja typów zmiennych w funkcjach ([type hints](https://docs.python.org/3.12/library/typing.html))

In [74]:
def podziel(val1: int, val2: int) -> (int, int):
    return val1//val2, val1%val2

In [75]:
podziel(14, 5)

(2, 4)

In [76]:
def poteguj(podstawa: int, wykladnik: int=2) -> (int):
    return podstawa**wykladnik

In [84]:
poteguj(3)

9

### Dokumentacja (docscring) w Python'ie
---
1. **Python style - reStructuredText**  
    https://www.python.org/dev/peps/pep-0257/#references-and-footnotes  
    http://docutils.sourceforge.net/rst.html  
2. **Google style**  
    http://google.github.io/styleguide/pyguide.html  
3. **NumPy style**  
    https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt  

**Porównanie**
http://sphinxcontrib-napoleon.readthedocs.io/en/latest/index.html

## Ćwiczenia

### Napisz funkcję, która zwraca listę z wartościami z zakresu (0, 30) podniesionymi do kwadratu

In [78]:
def return_square():
    return [item**2 for item in range(31)]

return_square()

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

### Napisz funkcję, która przyjmuje 3 wartości i zwraca największą z nich

In [156]:
def max_3(a:int,b:int,c:int) -> int:
    
    return max(a,b,c)

max_3(1,2,0)

2

### Napisz funkcję, która przyjmuje 2 wartości i zwraca ich iloczyn

In [82]:
def multiply2(a:int,b:int) -> int:
    return a*b

multiply2(2,3)

6

### Napisz funkcję, która przyjmuje 1 wartość i sprawdza czy ta wartość jest z zakresu (5, 15) (zwraca True lub False)

In [86]:
def get_1(a):
    return a in list(range(5,16))

get_1(17)

False

### Do funkcji z poprzednich zadań dopisz informację o typach przyjmowanych zmiennych oraz o typie zwracanej zmiennej

In [87]:
print("DONE")

DONE

## Lambda (funkcja anonimiowa)

In [88]:
def potega(number):
    val = number**2
    return val

In [89]:
potega(5)

25

In [90]:
potega_lambda = lambda x: x**2

In [91]:
potega_lambda(5)

25

In [92]:
f = lambda x, y: x + y

In [93]:
f(5, 2)

7

In [96]:
my_dictionary = {
    1: "jeden",
    2: "dwa"
}

In [97]:
f = lambda x: my_dictionary[x] if x in my_dictionary.keys() else "Nie znalazłem"

In [98]:
f(5)

'Nie znalazłem'

## Map
---
```
Pozwala na wykonanie wielu operacji na liście bez potrzeby użycia pętli "for"
map(func, *iterables) --> map object
```

In [99]:
numbers = [1, 2, 3, 4]

In [100]:
def powers(x: int) -> (int, int):
    return x**2, x**3

In [101]:
# ta sama funkcja ale z docstring wg standardu PEP 257
def powers(x: int) -> (int, int):
    """
    Calculate the square and cube of a given integer.

    This function takes an integer as input and returns a tuple containing 
    its square and cube, in that order.

    Parameters:
    x (int): The integer to be squared and cubed.

    Returns:
    tuple: A tuple containing two integers, where the first integer is the square of x
           and the second integer is the cube of x.
    """
    return x**2, x**3

Użycie funkcji na liście `numbers` bez użycia **map**:

powered_list = []
for number in numbers:
    powered_list.append(powers(number))
powered_list

Użycie funkcji na liście `numbers` z użyciem **map**:

In [102]:
list(map(powers, numbers))

[(1, 1), (4, 8), (9, 27), (16, 64)]

#### Map. Wydajność.

In [103]:
numbers = [2, 18, 9, 22, 17, 24, 8, 12, 27]

In [104]:
numbers = numbers * 10000

In [105]:
len(numbers)

90000

In [106]:
def poteguj(podstawa: int) -> (int):
    return podstawa**2

In [107]:
def poteguj_liste(l):
    potegi = []
    for x in l:
        potegi.append(poteguj(x))
    return potegi

In [108]:
%timeit poteguj_liste(numbers)

27.6 ms ± 253 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [109]:
%timeit [poteguj(x) for x in numbers]

24.3 ms ± 251 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [110]:
%timeit list(map(lambda x: x**2, numbers))

22 ms ± 134 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [111]:
%timeit list(map(poteguj, numbers))

21.2 ms ± 123 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## Zbiory atrybutów - \*args \**kwargs
---
Nazwy **args** i **kwargs** są tylko konwencją, można użyć innych nazw, istotna jest tylko **\*** (gwiazdka)  
Równie dobrze możemy napisać \*var \**vars

In [112]:
# *agrs: dowolna liczba argumentów
def test_var_args(first_arg, *args):
    print("pierwszy normalny:", first_arg)
    for arg in args:
        print("kolejne z listy *args :", arg)

In [113]:
test_var_args('pierwszy','drugi','trzeci','czwarty')

pierwszy normalny: pierwszy
kolejne z listy *args : drugi
kolejne z listy *args : trzeci
kolejne z listy *args : czwarty

In [114]:
# **kwargs: argumenty ze słownika
def test_kwargs(first_arg, **kwargs):
    print("pierwszy normalny:", first_arg)
    for key, value in kwargs.items():
        print("pozostałe key->value z **kwargs ", key, ":", value)

In [115]:
test_kwargs("Pierwszy wymagany", name="Ratusz", city="Białystok" )

pierwszy normalny: Pierwszy wymagany
pozostałe key->value z **kwargs  name : Ratusz
pozostałe key->value z **kwargs  city : Białystok

In [116]:
def test_args_kwargs(first_arg, *args, **kwargs):
    print("Pierwszy normalny:", first_arg)
    
    for arg in args:
        print("Kolejne z listy *args :", arg)
        
    for key, value in kwargs.items():
        print("Klucze i wartości ze słownika **kwargs ", key, ":", value)

In [117]:
test_args_kwargs("required arg", "arg1", "arg2", name="Ratusz", city="Białystok")

Pierwszy normalny: required arg
Kolejne z listy *args : arg1
Kolejne z listy *args : arg2
Klucze i wartości ze słownika **kwargs  name : Ratusz
Klucze i wartości ze słownika **kwargs  city : Białystok

In [118]:
first_arg = 5
my_list = ['milk', 'bread', 'apple']
my_dict = {'milk': 'mleko', 'bread': 'chleb', 'apple': 'jabłko'}

In [119]:
test_args_kwargs(first_arg, *my_list, **my_dict)

Pierwszy normalny: 5
Kolejne z listy *args : milk
Kolejne z listy *args : bread
Kolejne z listy *args : apple
Klucze i wartości ze słownika **kwargs  milk : mleko
Klucze i wartości ze słownika **kwargs  bread : chleb
Klucze i wartości ze słownika **kwargs  apple : jabłko

Użycie `*args` na przykladzie funkcji **print()**:

In [120]:
print("a", "b", "c", "d")

a b c d

Uproszczona implementacja działająca podobnie do **print()**

In [121]:
def moj_print(*args):
    text ="-".join(args)
    print(text)
    
moj_print("a", "b", "c", "d")

a-b-c-d

## Ćwiczenia

### Za pomocą *map* oraz *lambda* zwróć dwukrotność wszystkich wartości w liście *k*

In [123]:
k = [5, 1, 2, 5, 7, 4, 3, 1, 7, 0, 2, 5, 4, 3, 3]

In [126]:
list(map(lambda x: x**2,k))

[25, 1, 4, 25, 49, 16, 9, 1, 49, 0, 4, 25, 16, 9, 9]

### Za pomocą *map* oraz funkcji anonimowej *lambda* zwróć listę z wartościami ze słownika *d* - przypisz wartości ze słownika do wartości z listy na podstawie kluczy. 
W wyniku wykonania ćwiczenia powinna powstać lista: `['mysz', 'królik', 'pies', 'królik', 'kot', 'kot']`

In [129]:
d = {0: "kot", 1: "pies", 2: "królik", 3: "mysz"}
k = [3, 2, 1, 2, 0, 0]

In [131]:
list(map(lambda x: d[x],k))

['mysz', 'królik', 'pies', 'królik', 'kot', 'kot']

### Napisz funkcję `wieksze_niz_5`, która przyjmuje dowolną ilość atrybutów i zwraca listę z atrybutami większymi od 5

In [140]:
def wieksze_niz_5(*args):
    l = [item for item in args if item > 5]
    return l

print(wieksze_niz_5(9,1,2,7,8,3,4))

[9, 7, 8]

### Napisz funkcję która przyjmie słownik `**my_dict` i zwróci listę wszystkich wartości z tego słownika

In [154]:
my_dict = {'1': 'good', '2': 'moderate', '3': 'bad'}

['good', 'moderate', 'bad']

In [155]:
def return_values(**my_dict):
    l = []
    for key,value in my_dict.items():
        l.append(value)
    return l

def scan_dict(d):
    return [value for key,value in d.items()]
        

list(my_dict.values())

['good', 'moderate', 'bad']

In [157]:
def xxx(val1,val2,val3):
    return max(val1,val2,val3)
xxx(1,2,4)

4