Wojciech Łaguna [wojtek@laguna.pm](mailto:wojtek@laguna.pm)

Mateusz Rogowski

# Python w Data Science 1.1 - wstęp
---
<img src="https://www.python.org/static/img/python-logo@2x.png" />

# Podstawy - kalkulator (operatory)
---
https://www.tutorialspoint.com/python/python_basic_operators.htm

Dodawanie

In [1]:
1+3

4

Odejmowanie

In [2]:
5-4

1

In [3]:
5.5-3

2.5

Dzielenie

In [4]:
6/3

2.0

In [5]:
9/4

2.25

Mnożenie

In [6]:
2*2

4

Potęgowanie 2<sup>4</sup>

In [7]:
2**4

16

In [8]:
4**0.5

2.0

Część całkowita dzielenia

In [9]:
9.5//4

2.0

In [10]:
10//3

3

In [11]:
9//2

4

Reszta z dzielenia (*modulo*, *modulus*)

In [12]:
7%3

1

In [13]:
9%10

9

# Ćwiczenia

10 plus 21

In [14]:
10+21

31

5 razy 10

In [15]:
5*10

50

Reszta z dzielenia 71 przez 7

In [18]:
71%7

1

2<sup>16</sup>

In [19]:
2**16

65536

Część całkowita z dzielenia 50 przez 6 (dzielenie bez reszty)

In [20]:
50//6

8

# Podstawy - zmienne

In [21]:
a = 5

In [22]:
print(a)

5

In [23]:
b = 10

In [24]:
a+b

15

In [25]:
a**b

9765625

In [26]:
c = 5.5
c

5.5

In [27]:
a+c

10.5

In [28]:
# zmienna ze stringiem
s = "Hello World!"

In [29]:
s

'Hello World!'

In [30]:
a
s

'Hello World!'

In [31]:
print(a)
print(s)

5
Hello World!

**Nie możemy sumować niekompatybilnych typów danych - w tym przypadku liczby (*int*) oraz ciągu znaków (*str*, *string*)**

In [32]:
a+s

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Ale możemy rzutować (zmienić typ) liczbę na string**

In [33]:
str(a)

'5'

In [34]:
print(a)

5

In [35]:
type(a)

int

In [36]:
str(a) + s

'5Hello World!'

In [37]:
str(a) + " " + s

'5 Hello World!'

In [38]:
print(a, b, c, s)

5 10 5.5 Hello World!

# Ćwiczenia

Zadeklaruj zmienną *a* z wartością 10

In [39]:
a = 10

In [40]:
a

10

Zadeklaruj zmienną *b*  wartością 3.12

In [41]:
b = 3.12

Zadeklaruj zmienną *s* wartością "Python"

In [42]:
s="PYTHON"

Dodaj do siebie zmienne *a* i *b*

In [43]:
a+b

13.120000000000001

Połącz ze sobą zmienne *s* i *b* - wynikiem powinno być "Python3.12"

In [44]:
s+str(b)

'PYTHON3.12'

Ponownie połącz ze sobą zmienne *s* i *b*, tylko tym razem dodaj między nimi odstęp - wynikiem powinno być "Python 3.12"

In [45]:
s+" "+str(b)

'PYTHON 3.12'

# Operatory logiczne i podstawowe funkcje matematyczne

In [46]:
a = 2

In [85]:
a

10

In [48]:
a == 1

False

In [49]:
a == 2

True

In [50]:
print(a==1)
print(a==2)

False
True

In [51]:
a > 3

False

In [52]:
a > 2

False

In [53]:
a >= 2

True

In [54]:
b = 3

In [55]:
a == b

False

In [56]:
a != b

True

In [57]:
pow(a, b) # a**b

8

In [58]:
s = "text"
s1 = "text"

In [59]:
s == s1

True

In [60]:
c = 10/3

In [61]:
c

3.3333333333333335

In [62]:
round(c, 3)

3.333

In [63]:
round(c)

3

In [64]:
round(3.377777, 3)

3.378

# Ćwiczenia

Wykonaj podstawowe operacje matematyczne z wykorzystamien zmiennych *a, b* (+ - / *  %)

In [72]:
a = 10
b = 0

In [77]:
sum = a+b
diff = a-b
dziel = a/b if b != 0 else None
mnoz = a*b
reszt = a%b if b != 0 else None
print(dziel)
# poniżej wykonaj operacje

None

Zainicjalizuj zmienną *imie* ze swoim imieniem.

In [79]:
imie = "Piotr"

Połącz wartości zmiennych *imie* i *a*, żeby powstał tekst "{imie} {a}". Na przykład "Maciej 10"

In [80]:
print(f"{imie} {a}")

Piotr 10

Sprawdź czy zmienna *a* jest większa niż 3

In [81]:
a = 10
b = 4

a > 3

True

In [82]:
a == 8

False

Sprawdź czy zmienna *a* jest równa 8

In [83]:
 a != b

True

Sprawdź czy zmienne *a* i *b* są różne